# Security & Sensitive Data
.env
.env.*
appsettings.Development.json
appsettings.Local.json
appsettings.Staging.json
connectionstrings.config
**/config/credentials.*
**/config/secrets.*
**/keys/
**/passwords/
**/private/
**/secrets/
*.auth
*.authz
*.password
*.secret
*.secrets
*.token
*_tokens
*password*
apikeys.*
secrets.json
secrets.yaml
secrets.yml
tokens.*

# Build Artifacts
**/bin/
**/obj/
**/Debug/
**/Release/
**/build/
**/docs/output/
**/out/
**/publish/

# Cache & Temp
**/.cache/
**/temp/
**/tmp/
*.cache
*.temp
*.tmp
TemporaryGeneratedFile_*.cs

# Logs
**/logs/
*.log

# Testing
**/coverage/
/*.coverage.xml
/.coverage
*.testrunconfig
*.testsettings
**/TestResults/

# Other
**/.git/
**/.nuget/
**/.vs/
**/_ReSharper.*/
**/amd64/
**/AnyCPU/
**/arm64/
**/Help/
**/NuGet/
**/packages/
**/runtime/
**/runtimes/
**/x64/
**/x86/
*.bak
*.crunchsolution
*.ncrunchproject
*.old
*.orig
*.resharper
*.resharper.user
*.save
*.sln.docstates
*.suo
*.swo
*.swp
*.user
*.userosscache
*.vsp
*.vspscc
*.vspx
*~
._*
.DS_Store
.DS_Store?
.gitattributes
.gitignore
.gitmodules
.Spotlight-V100
.Trashes
/*.chm
/*.csproj.user
/*.deps.json
/*.fsproj.user
/*.runtimeconfig.dev.json
/*.runtimeconfig.json
/*.testlog
/*.trx
/*.vbproj.user
/*.vcxproj.filters
/*.vcxproj.user
/*.vsmdi
/TestResult.xml
appsettings.Test.json
desktop.ini
ehthumbs.db
Properties/launchSettings.json
Thumbs.db
web.config.local
web.debug.config
web.release.config